@model IEnumerable<AnimalConservationWebsite.Models.ConservationStatus>

<h2>Species Groups</h2>
<table class="table">
    <thead>
        <tr>
            <th>Species Group Name</th>
            <th style="text-align: center;">Total Species</th>
            <th style="text-align: center;">Endangered Species</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Species" asp-action="Details" asp-route-id="@item.status_id">
                        @item.group_name
                    </a>
                </td>
                <td style="text-align: center;">@item.total_species</td>
                <td style="text-align: center;">@item.subtotal_threatened</td>
            </tr>
        }
    </tbody>
</table>
